<template>
   <div>
      <h1>Home</h1>
      <div id="lineDrawing" class="lineDrawing">
         <a href="#" class="prev" v-on:click="prevStep"></a>
        	<svg viewBox="0 0 234.27 185.37">   
            <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="1" class="lines">         
               <path class="cls-3" d="M65.52,64.4H90.05a1.65,1.65,0,0,0,1.65-1.65V49.58a1.65,1.65,0,0,0-.57-1.25L78.52,37.45a1.65,1.65,0,0,0-2.19,0L64.41,48.36a1.65,1.65,0,0,0-.54,1.22V62.75A1.65,1.65,0,0,0,65.52,64.4Zm1.65-14.09,10.3-9.4L88.4,50.34V61.1H67.17Z"/>
               <path class="cls-3" d="M152.56,64.4h24.53a1.65,1.65,0,0,0,1.65-1.65V49.58a1.65,1.65,0,0,0-.57-1.25L165.56,37.45a1.65,1.65,0,0,0-2.19,0L151.45,48.36a1.65,1.65,0,0,0-.54,1.22V62.75A1.65,1.65,0,0,0,152.56,64.4Zm1.65-14.09,10.3-9.4,10.93,9.43V61.1H154.21Z"/>
               <path class="cls-1" d="M1.65,181.92a1.65,1.65,0,0,0,0,3.3H14.11a1.64,1.64,0,0,0,.67.15H24.92a1.64,1.64,0,0,0,.67-.15H211.72a1.64,1.64,0,0,0,.67.15h10.14a1.64,1.64,0,0,0,.67-.15H232a1.65,1.65,0,0,0,0-3.3h-7.77V152.75h8.44a1.65,1.65,0,0,0,1.65-1.65V151c0-13.74-14.57-84.12-15.19-87.11a1.65,1.65,0,0,0-3.23,0c-.62,3-15.19,73.37-15.19,87.11v.08a1.65,1.65,0,0,0,1.65,1.65h8.44v29.17H194.94v-104h10.53A1.65,1.65,0,0,0,207,75.57L182.33,24.13a1.65,1.65,0,0,0-1.49-.94H168.38V19.41h5.09a1.65,1.65,0,0,0,0-3.3h-5.09V7.86h6.85l-.38,2.06a1.65,1.65,0,0,0,1.33,1.92l.3,0a1.65,1.65,0,0,0,1.62-1.36L179.6,2.3a1.65,1.65,0,0,0-3.25-.59l-.52,2.85h-7.45V1.65a1.65,1.65,0,0,0-3.3,0V4.56H158.2l.41-2.26a1.65,1.65,0,0,0-3.25-.59l-1.49,8.21a1.65,1.65,0,0,0,1.33,1.92l.3,0a1.65,1.65,0,0,0,1.62-1.36l.48-2.65h7.48v5h-4.52a1.65,1.65,0,1,0,0,3.3h4.52V23.2h-103a1.65,1.65,0,0,0-1.49.94L36,75.57a1.65,1.65,0,0,0,1.49,2.36H48v104H26.57V152.75H35a1.65,1.65,0,0,0,1.65-1.65V151c0-13.74-14.57-84.12-15.19-87.11a1.65,1.65,0,0,0-3.23,0C17.61,66.9,3,137.28,3,151v.08a1.65,1.65,0,0,0,1.65,1.65h8.44v29.17ZM217.46,72.49c3.74,18.45,12.7,63.72,13.45,77H204C204.77,136.21,213.73,90.94,217.46,72.49ZM214,152.75h6.84v29.17H214ZM179.8,26.5l23,48.14H40.12l23-48.14Zm-93,154.78H68.7V146.07H86.78Zm1.65-38.51H67a1.65,1.65,0,0,0-1.65,1.65v37.5H60.73V137.59h33.8v44.33H90.08v-37.5A1.65,1.65,0,0,0,88.43,142.77Zm103.21-23H51.34V78h140.3Zm-140.3,3.3h140.3v58.81H97.83v-46a1.65,1.65,0,0,0-1.65-1.65H59.08a1.65,1.65,0,0,0-1.65,1.65v46H51.34ZM19.85,72.49c3.73,18.45,12.7,63.72,13.45,77H6.39C7.15,136.21,16.11,90.94,19.85,72.49Zm-3.42,80.26h6.84v29.17H16.43Z"/>
               <path class="cls-2" d="M106.55,163.26h32.28a1.65,1.65,0,1,0,0-3.3h-2.75V137.58a1.65,1.65,0,0,0-1.65-1.65H111a1.65,1.65,0,0,0-1.65,1.65V160h-2.75a1.65,1.65,0,0,0,0,3.3Zm17.79-3.3v-8.71h8.44V160Zm8.44-20.73v8.71h-8.44v-8.71ZM121,147.95h-8.44v-8.71H121Zm-8.44,3.3H121V160h-8.44Z"/>
               <path class="cls-2" d="M59.71,112.64H92a1.65,1.65,0,0,0,0-3.3H89.24V87a1.65,1.65,0,0,0-1.65-1.65H64.11A1.65,1.65,0,0,0,62.46,87v22.38H59.71a1.65,1.65,0,0,0,0,3.3Zm17.79-3.3v-8.71h8.44v8.71Zm8.44-20.73v8.71H77.5V88.62ZM74.2,97.33H65.76V88.62H74.2Zm-8.44,3.3H74.2v8.71H65.76Z"/>
               <path class="cls-2" d="M106.55,112.64h32.28a1.65,1.65,0,1,0,0-3.3h-2.75V87a1.65,1.65,0,0,0-1.65-1.65H111A1.65,1.65,0,0,0,109.3,87v22.38h-2.75a1.65,1.65,0,0,0,0,3.3Zm17.79-3.3v-8.71h8.44v8.71Zm8.44-20.73v8.71h-8.44V88.62ZM121,97.33h-8.44V88.62H121Zm-8.44,3.3H121v8.71h-8.44Z"/>
               <path class="cls-2" d="M151.2,112.64h32.28a1.65,1.65,0,0,0,0-3.3h-2.75V87a1.65,1.65,0,0,0-1.65-1.65H155.6A1.65,1.65,0,0,0,153.95,87v22.38H151.2a1.65,1.65,0,0,0,0,3.3Zm17.79-3.3v-8.71h8.44v8.71Zm8.44-20.73v8.71H169V88.62Zm-11.74,8.71h-8.44V88.62h8.44Zm-8.44,3.3h8.44v8.71h-8.44Z"/>
               <path class="cls-2" d="M151.2,163.26h32.28a1.65,1.65,0,0,0,0-3.3h-2.75V137.58a1.65,1.65,0,0,0-1.65-1.65H155.6a1.65,1.65,0,0,0-1.65,1.65V160H151.2a1.65,1.65,0,0,0,0,3.3ZM169,160v-8.71h8.44V160Zm8.44-20.73v8.71H169v-8.71Zm-11.74,8.71h-8.44v-8.71h8.44Zm-8.44,3.3h8.44V160h-8.44Z"/>
            </g>           
         </svg>
         <a href="#" class="next" @click="nextStep"></a>
      </div>
   </div>
</template>
<script>
	import anime from 'animejs'

   export default {
      data(){
        	return {
            step: 0, // текущее состояние
            allSteps: 3, // количество состояний
            house: anime.timeline({
               easing: 'linear',
               //direction: 'alternate',
               loop: false,              
               update: () => {                  
                  var current = (100 / this.allSteps) * this.step;                  
                  console.log(this.house.progress);
                  if (this.house.progress >= current){
                     this.house.pause();
                  }
               }
            }),
            houses: {
               'step1': anime({
                  targets: '#lineDrawing .cls-1',          
                  strokeDashoffset: [anime.setDashoffset, 0],
                  duration: 5000,
                  easing: 'linear',
                  direction: 'alternate',
                  loop: false, 
                  autoplay: false,
                  update: () => {                  
                                   
                     console.log(this.houses['step1'].progress);
                     
                  }
               }),
               'step2': anime({
                  targets: '#lineDrawing .cls-2',          
                  strokeDashoffset: [anime.setDashoffset, 0],
                  duration: 5000,
                  easing: 'linear',
                  direction: 'alternate',
                  autoplay: false,
                  loop: false, 
               }),
               'step3': anime({
                  targets: '#lineDrawing .cls-3',          
                  strokeDashoffset: [anime.setDashoffset, 0],
                  duration: 5000,
                  easing: 'linear',
                  direction: 'alternate',
                  autoplay: false,
                  loop: false, 
               })
            }
        	}
      },
      methods: {
         nextStep: function(){            
            this.step++;            
            //if (this.house.reversed) this.house.reverse();            
            this.houses['step'+this.step].play();
            console.log(this.houses['step'+this.step]);
            //this.house.play();
         },
         prevStep: function(){
            this.step--;            
            //if (!this.house.reversed) this.house.reverse();            
            //this.house.play();
         }
      },
      mounted(){			
			/*var TLcontrols = anime.timeline({
				easing: 'linear',
				direction: 'alternate',
				loop: false,
				//autoplay: true,     
           
				update: function(anim) {          
					console.log(100 / this.step);
               var current = 
					if (anim.progress >= (100 / this.step)){
						anim.pause();
					}
				}
			});*/

			/*this.house
			   .add({
					targets: '#lineDrawing .cls-1',          
					strokeDashoffset: [anime.setDashoffset, 0],
					duration: 5000,					
				})
            .add({
               targets: '#lineDrawing .cls-2',          
               strokeDashoffset: [anime.setDashoffset, 0],
               duration: 5000, 
               //delay: function(el, i) { return i * 300 },
            })
            .add({
               targets: '#lineDrawing .cls-3',          
               strokeDashoffset: [anime.setDashoffset, 0],
               duration: 3000, 
               //delay: function(el, i) { return i * 250 },
            });*/

  			//TLcontrols.seek(TLcontrols.duration * (20 / 100));  			
  				  
  			
  			
        }
    }
</script>
<style>
   .lineDrawing{      
      width: 50%;
      margin: 0 auto;
      border-bottom: 1px solid #000;
      position: relative;
   }
   .prev, .next{
      width: 50px;
      height: 50px;
      border-left: 2px solid #000;
      border-bottom: 2px solid #000;
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      margin: auto;
   }
   .prev{
      transform: rotate(45deg);
      left: -50px;
   }
   .next{
      transform: rotate(-135deg);
      right: -50px;
   }
</style>